@font-face {
    font-family: 'roboto_slab';
    src: url('fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, label {
    font-family: 'roboto_slab', serif;
}

button, input {
    font-family: 'roboto_slab', serif;
    border-width: 1px;
}

.error-input {
    box-shadow: 0 0 4px 2px red;
}

.picture-book {
    width: 150px;
}

.error-message {
    color: red;
    padding-top: 8px;
}

.error__quantity {
    text-align: center;
    padding-left: 0;
}

.order-container {
    max-width: 925px;
    padding: 15px 0 15px 0;
}

.transport {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 20px;
}

.transport-option {
    text-align: center;
}

.book-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-text-inputs {
    text-align: left;
    display: grid;
    grid-template-columns: 230px 220px;
    grid-row-gap: 12px;
    padding-bottom: 35px;
    justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 17px;
    place-content: center;
}

.submit-button {
    width: fit-content;
}

.basic-p {
    margin: 0;
    width: max-content;
}

.label-terms {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-terms input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
}

.label-terms:hover input ~ .checkmark-checkbox {
    background-color: grey;
}

.label-terms input:checked ~ .checkmark-checkbox {
    background-color: #2196F3;
}

.checkmark-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.label-terms input:checked ~ .checkmark-checkbox:after {
    display: block;
}

.label-terms .checkmark-checkbox:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#terms {
    align-self: center;
    margin-right: 12px;
}

.terms {
    margin-left: 15%;
}

.form-item {
    border-radius: 4px;
}

.form-head {
    margin-left: 10px;
}

#quantity {
    margin-right: 7px;
    width: 48px;
    text-align: center;
}

.quantity-label {
    margin-right: 100px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.head-p {
    margin-left: 10px;
}

.submit-button {
    word-break: normal;
}

.form-item {
    border-radius: 3px;
}

.basic-label {
    margin-top: -18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.order-success {
    text-align: center;
    color: black;
    padding-top: 6%;
}

@media (min-width: 900px) {
    .modal-dialog-centered {
        max-width: 850px;
    }
}

@media (max-width: 770px) {
    body {
        padding: 0 10px 0 10px;
        width: 100%;
    }

    .form-text-inputs {
        grid-template-columns: 1fr 1fr;
        text-align: inherit;
        justify-content: normal;
        padding-left: 7%;
    }

    .terms {
        margin-left: 0;
    }

    .label-terms {
        width: 100%;
    }

    .form-head {
        margin-left: 0;
    }

    .picture-book {
        width: 115px;
    }

    .head-p {
        margin-left: 0;
    }

    .form-item {
        width: 145px;
    }

    .basic-p {
        width: auto;
    }
}

@media (min-width: 576px) {
    .submit-button {
        word-break: unset;
        width: max-content;
    }
}
